---
import { getCollection } from 'astro:content'
import ProjectCard from '../components/project/ProjectCard.astro'
import LayoutMain from '../layouts/LayoutMain.astro'
const projects = await getCollection('project')
---

<LayoutMain
  title="Projets"
  description="Mes projets personnels et professionnels"
>
  <main>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-x-8 gap-y-8"
    >
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </main>
</LayoutMain>
