---
import type { CollectionEntry } from 'astro:content'

export interface Props {
  blog: CollectionEntry<'blog'>
}
const props = Astro.props
---

<a
  class="flex flex-col rounded overflow-hidden bg-gray-50 border cursor-pointer border-gray-200 shadow group px-6 py-4"
  href={'/blogs/' + props.blog.slug}
>
  <p class="font-semibold">{props.blog.data.title}</p>
  <p class="text-[10px] font-medium text-gray-400">
    {props.blog.data.date}
  </p>
  <p class="text-gray-600 text-sm mt-2 line-clamp-4">
    {props.blog.data.description}
  </p>
  <div>
    {
      props.blog.data.tags.map((tag) => (
        <span class="inline-block bg-gray-200 rounded-full px-2 py-1 text-xs font-medium text-gray-600 mr-2 mt-2">
          {tag}
        </span>
      ))
    }
  </div>
</a>
