---
import { getCollection } from 'astro:content'
import BlogCard from '../../components/blog/BlogCard.astro'
import LayoutMain from '../../layouts/LayoutMain.astro'

const blogs = await getCollection('blog')
---

<LayoutMain
  title="Projets"
  description="Mes projets personnels et professionnels"
>
  <main class="flex flex-col gap-y-8">
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-x-8 gap-y-8">
      {blogs.map((blog) => <BlogCard blog={blog} />)}
    </div>
  </main>
</LayoutMain>
